.vscode
.cache
*.pyc
*.pt
*.so
*.o
*.swp
*.prof
.nfs*
_cache_*
smux-*

ckpts
pretrained_models
results

datasets/face_process/*.dat
datasets/MixBasic/CKPlus
datasets/MixBasic/MMI
datasets/MixBasic/OuluCASIA
datasets/MixBasic/*.pkl